
      <div class="card Large">
          <div class="bgpattern ">
            <div class = "bgpattern_content">
              <br />
              <p class="zindex">質問1: <%= template.question1%><br />
              質問2: <%= template.question2%><br />
              質問3: <%= template.question3%><br />
              質問4: <%= template.question4%><br />
              質問5: <%= template.question5%><br />
              作成日: <%= template.created_at.strftime("%Y/%m/%d %H:%M")%><br />
              プロフィール数: <%= template.profiles.length%></p>
            </div>
            <p>作成日: <%= template.created_at.strftime("%Y/%m/%d %H:%M")%></p>
            <p>プロフィール数: <%= template.profiles.length%></p>

        </div>
        <div class="card-action">
          <%= link_to "テンプレートURLを共有する", template_profiles_path(template)%>
          <%= link_to "書いてくれたプロフィールをみる", template_path(template)%>

          <%= icon 'fas', 'trash-alt', class: 'is-modal-icon', "data-id": template.id, "data-question1": template.question1, "data-question2": template.question2, "data-question3": template.question3,"data-question4": template.question4,"data-question5": template.question5%>

        </div>
      </div>

