<div class="container">
    <div class="row">
        <div class="content">
            <div class="center-align user_name">
                <%= current_user.name%>
            </div>
            <div class="center-align">
                <div class="user_image">
                    <%= image_tag current_user.image, :size =>'160x240',class: "user_image_sicre"%>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="content mypage-box">
            <div class="grid-example col s12 center-align mypage-box-content">
                答えてもらうプロフィールのテンプレートを作成しましょう
            </div>
            <%= link_to new_template_path do %>
              <div class="grid-example col s12 center-align"><button class="button1">作成する</button></div>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="container content mypage-box-content">
             あなたが作ったテンプレート一覧
            <div class="template_box">
              <% if @templates.length > 0 %>
                <%= render @templates %>
              <% else %>
                <div class="template_box-no_img">
                  <%= icon 'fa', 'address-book'%>
                </div>
                <p class="template_box-no_content">まだプロフィールがありません</p>
              <% end %>
            </div>
            <div class="pagenate-box">
                <%= paginate @templates%>
            </div>
        </div>
    </div>
</div>
<aside class="is-modal">
    <div class="is-modal__inner">
        <div class="is-modal__body">
            <p>確認</p>
            <br />
            <div class="is-modal__body_gray">
            </div>
            <br />
            作成して貰ったプロフィールも削除されますが、<br />本当にこのテンプレートを削除してよろしいですか？
            <div class="cancel-btn">
                キャンセル
            </div>
            <div class="is-modal__body_delete">
                <%= button_to "削除する", "#", method: :delete , class: "delete-change cancel-btn", onfocus:"this.blur();"%>
            </div>
        </div>
    </div>
</aside>
